.content {
    padding-top: 1rem;
    width:100%;
    display: flex;
    justify-content: center;
}

.inner {
    width: 25%;
}

* {
    color: var(--text-1);
    margin: 0;
}

body {
    background-color: var(--background-1);
}
